[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
sqlite-vec = "*"
sentence-transformers = "*"
pandas = "*"
fastmcp = "*"
plotly = "*"
kaleido = "*"
seaborn = "*"
matplotlib = "*"
pdfplumber = "*"
openpyxl = "*"
tqdm = "*"
fastapi = "*"

[dev-packages]

[requires]
python_version = "3.11"
